.parent-cont{
    min-height:100vh;
}
.sell-head{
    color:darkorange;
}
.sell-nav{
    width: 100%;
    position: fixed;
    z-index:999 !important;
}
.sell-cont-box{
    width:100%;
    padding:10px;
    height:3.5rem;
    background-color: white;
    box-shadow: 2px 2px 5px;
    position:fixed;
    z-index:20;
    transform: translateY(-0%); 
    transition: transform 0.3s ease-in-out;
}
.sell-cont-box.show {
    transform: translateY(100%); 
}
.sell-itm{
    background-color: white;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom:solid transparent;
    transform: border-color 0.5s;
}
.sell-itmcol{
    border-bottom-color: darkorange;
}
.sell-itm:hover{
    border-bottom-color: darkorange;
}
.main-box{
    position: relative;
    padding-top:68px;
    z-index:0;
}
.main2-box{
    border:1px solid gray;
    border-radius: 10px;
}
.sell-drop{
    > button{
        width:16rem;
    }
    > .sell-drop-menu{
        height:10rem;
        overflow-y: auto;
    }
}
.rupee-icon{
    margin-top:14px;
}
.price-format{
    color:gray;
}
.property-inp{
    border:1px solid white;
    border-bottom-color: gray;
    border-radius:0px;
}
.property-inp:focus{
    border:1px solid white;
    border-bottom-color: gray;
    outline:none;
}
.photo-btn{
    background-color: darkorange;
    border:1px solid red;
    width:60%;
    border-radius: 10px;
    cursor: pointer;
}
.sell-btn{
    background-color: darkorange;
    border-radius: 20px;
    border:1px solid red;
}
.list-drop-menu{
    max-height:200px;
    overflow-y:auto;
}
.flat-ament{
    gap:10px;
}
.btn-flatimg{
    height:2.5rem;
}
.flat-img{
    height:1.6rem;
    width:2rem;
    margin-right: 8px;
}
.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.close-btn{
    padding:0px !important;
    border:1px solid white;
    border-radius: 6px;
    box-shadow: 0.5px 0.5px 0.5px;
    outline:none;
    width:1rem;
    font-size: 14px;
    margin-left:5px;
    position: relative;
    top:-18px;
}
.close-vbtn{
    padding:0px !important;
    border:1px solid white;
    border-radius: 6px;
    box-shadow: 0.5px 0.5px 0.5px;
    outline:none;
    width:1rem;
    height: 1.5rem;
    font-size: 14px;
    margin-left:5px;
}
/* Full-screen overlay when loading */
.spinner-overlay {
    position: fixed;                /* Fixed position to cover entire screen */
    top: 0;
    left: 0;
    width: 100vw;                   /* Full viewport width */
    height: 100vh;                  /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.4);  /* Semi-transparent dark background */
    display: flex;                  /* Flexbox for centering */
    justify-content: center;        /* Center horizontally */
    align-items: center;            /* Center vertically */
    z-index: 1000;                  /* Place on top of other elements */
  }
.load-svg{
    width:10rem;
    height: 10rem;
}
.rera-drop{
    border:1px solid black;
    width:10rem;
    text-align: left !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rera-drop:hover{
    border:1px solid black;
}
.rera-inp{
    border:1px solid white;
    border-bottom-color: gray;
    border-radius:0px;
    width:100%;
}
.rera-inp:focus{
    border:1px solid white;
    border-bottom-color: gray;
    outline:none;
}
.rera-inp::placeholder {
    color: rgb(165, 165, 165);  /* Change to any light color */
}
@media (max-width: 991px) { 
    .parent-cont{
        padding-bottom: 2rem;
    }
    .sell-cont-box{
        position:fixed;
        top:14px;
        z-index:20;
        transform: translateY(0%); 
        transition: transform 0.3s ease-in-out;
    }
    .sell-cont-box.show {
        transform: translateY(100%); 
    }
    .main-box{
        width:70% !important;
        padding-top: 100px;
    }

}
@media (min-width: 300px) and (max-width: 750px) {
    .main-box{
        width:100% !important;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .drop2-div{
        margin-left: 1rem !important;
    }
}