.adv-nav{
    position: absolute;
    z-index:1;
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
}
.main-hcont{
    width: 100%;
}
.h-adv-cont{
    width:100%;
}
.h-adv-image{
    height:387px;
    object-fit: cover;
}
.carousel-control-prev, .carousel-control-next{
    margin-top: 10rem !important;
}
.advbox{
    height:100%;
    width:auto;
    overflow: auto;
    cursor: pointer;
    scrollbar-width: none;
}
.advbox-img{
    filter: brightness(50%);   
    border-radius:0px;
    height: 12.5rem;
}
.advbox-txt{
    color:white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.s-itm{
    background-color: white;
    height: 2rem;
    width:8rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom:solid transparent;
    transform: border-color 0.5s;
}
.s-itmcol{
    border-bottom-color: darkorange;
}
.s-itm:hover{
    border-bottom-color: darkorange;
}
.s-cont{
    width:100%; 
    z-index:1000;
    position: relative;
    bottom: 50px;
}
.s-cont-box{
    width:75%;
    padding:10px;
    background-color: white;
    box-shadow: 2px 2px 5px;
}
.loc-dropdown{
    width:40%;
}
.loc-drop{
    border-radius: 20px;
    border: 1px solid darkorange;
    box-shadow: 1px 1px 6px;
}
.s-cont-input{
    width:18rem;
    border:none;
    outline: none;
    height:2rem;
}
.s-cont-sbox{
    border:1px solid gray; 
    border-radius: 22px;
    margin-top: 1rem;
}
.s-drop{
    border-left: 1px solid gray;
    padding-left: 14px;
}
.search-btn{
    width:8rem;
    border-radius: 25px;
    background-color: darkorange;
}
.search-btn:hover, .search-btn:focus, .search-btn:active{
    background-color: darkorange !important;
}
.shead{
    font-size: small;
    color: gray;
}
.body1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:1rem;
}
.body2{
    font-size: small;
}
.adv-card{
    height: 50% !important;
    border-radius: 0px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-hcont{
        width:77%;
        height:40% !important;
    }
    .h-adv-cont{
        width:100%;
    }
    .s-cont{
        width:100%; 
        z-index:1000;
        justify-content: start !important;
    }
    .s-cont-input{
        width:12rem;
    }
    .s-cont-box{
        width:100%;
    }
}
@media (min-width: 300px) and (max-width: 750px) {
    .s-cont{
        width:100%; 
        justify-content: start !important;
    }
    .s-cont-box{
        width:100% !important;
    }
    .s-cont-input{
        margin-left: 1rem;
        width:auto;
    }
    .res-cont{
        display: none !important;
    } 
    .search-btn{
        width:4rem;
        position: absolute;
        right: 1rem;
        border-radius: 25px;
        background-color: darkorange;
    }
    .demand-card{
        align-items: center;
        overflow-x: scroll;
        scrollbar-width:thin;
    }
    .demand-card .card{
        min-width: 70% !important;
        flex-shrink:0;
    }
    .card-img-top{
        height:9rem !important;
    }
}


  