.cont{
    border: none !important;
    height:60px;
}
.adv-nav{
    position:absolute;
    z-index:9999;
    top:0;
}
.logo{
    color:rgb(241, 241, 104);
    font-weight:bold;
    font-size: 2.5rem;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
}
.logo:hover{
    color:white;
}
.logo-img{
    height: 2rem;
    width:2rem;
}
.login-box{
    height:auto;
    width:13rem;
    background-color: white;
    z-index: 9999;
    border: 1px solid gray;
    border-radius: 6px;
    position:absolute;
    left:83%;
    top:44px;
}
.buy-box{
    height:auto;
    width:12rem;
    background-color: white;
    z-index: 9999;
    border: 1px solid gray;
    border-radius: 6px;
    position:absolute;
    left:70%;
    top:44px;
}
.own-box{
    height:auto;
    width:11rem;
    background-color: white;
    z-index: 9999;
    border: 1px solid gray;
    border-radius: 6px;
    position:absolute;
    left:77%;
    top:44px;
}
.login-box2{
    height:auto;
    width:13rem;
    background-color: white;
    z-index: 9999;
    border: 1px solid gray;
    border-radius: 6px;
    position:fixed;
    left:83%;
    top:44px;
}
.q-link{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.log-links{
    cursor: pointer;
}
.log-box{
    border-top:1px solid gray;
}
.log-btn{
    border-radius: 25px;
    background-color:darkorange;
}
.log-btn:hover{
    background-color: darkorange;
}
.sign-txt{
    font-size: 14px;
}
.signcol{
    color: darkorange;
}
.signcol:hover{
    color:darkorange;
}
.buy-ul{
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 0.4rem;
}
.buy-bhead{
    color:darkorange;
}
.free-gif{
    position: absolute;
    top:30px;
    height: 2rem;
    width: 2rem;
}
@media (max-width: 991px) { 
    .logo{
        font-size: 1.8rem;
    }
    .cont{
        height:auto;
        >div{
            padding: 0px;
        }
    }
    .navbar-nav {
        background-color: white !important;
    }
    .nav-nlink{
        color:darkorange !important;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .nav-item{
        display: flex;
        justify-content: center;
    }
    .navbar-collapse{
        position: absolute;
        top:4.3rem;
        left:0;
        z-index: 1000;
        width:100%;
    }
    .login-box{
        position:absolute;
        left:75%;
        right:0;
        top:70px;
    }
    .buy-box{
        position:absolute;
        left:74%;
        right:0;
        top:70px;
    }
    .own-box{
        position:absolute;
        left:75%;
        right:0;
        top:70px;
    }
    .login-box2{
        position:absolute;
        left:75%;
        right:0;
        top:70px;
    }
}
@media (min-width: 300px) and (max-width: 750px) {
    .logo{
        font-size: 1.8rem;
    }
    .nav-item{
        margin-left: 0px !important;
        display: flex;
        justify-content: start;
    }
    .nav-nlink{
        margin-left: 1rem !important;
    }
    .login-box{
        position:absolute;
        left:47%;
        right:0;
        top:70px;
    }
    .buy-box{
        position:absolute;
        left:48%;
        right:0;
        top:70px;
    }
    .own-box{
        position:absolute;
        left:50%;
        right:0;
        top:70px;
    }
    .login-box2{
        position:absolute;
        left:47%;
        right:0px;
        top:70px;
    }
}
